* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: #fff;
}

.decoracion{
    position:relative;
}

.esquina{
    position:absolute;
    width:300px;
}

.arriba-izquierda{
    top:40px;
    left:40px;
}

.arriba-derecha{
    top:40px;
    right:40px;
}

.abajo-izquierda{
    top:680px;
    left:-200px;
}

.abajo-derecha{
    top:700px;
    right:-100px;
}

/* CONTENIDO CENTRAL */
main {
    flex: 1;
    text-align: center;
    padding: 60px 20px;
    position: relative;
    z-index: 5;
}

.etiqueta1 {
    color: #2D4F32;
    border: 2px solid #2D4F32;
    display: inline-block;
    padding: 5px 15px;
    font-weight: 900;
    transform: rotate(-3deg);
    margin-bottom: 10px;
}

.titulo-productos {
    font-size: 35px;
    font-weight: 900;
    color: #2D4F32;
    transform: rotate(-3deg);
}

.etiqueta2 {
    background: black;
    color: white;
    padding: 8px 30px;
    font-size: 50px;
    display: inline-block;
    margin: 10px 0;
    transform: rotate(-3deg);
}

.titulo3 {
    font-size: 35px;
    color: #2D4F32;
    font-weight: 900;
    margin-bottom: 15px;
}

.descripcion {
    max-width: 650px;
    margin: 0 auto 40px;
    font-weight: 600;
    color: #2D4F32;
    line-height: 1.4;
}

/* GRID PRODUCTOS */
.productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.circulo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.nombre-prod {
    font-weight: 700;
    color: #333;
}

.puntos {
    color: #1fa67a;
    font-weight: 900;
}

/* FOOTER */
.footer {
    background: #2D4F32;
    color: white;
    padding: 50px 80px;
    display: flex;
    justify-content: center;
    gap: 100px;
    position: relative;
    z-index: 10;
}

/* RESPONSIVO */
@media (max-width: 900px) {
    .navbar { flex-direction: column; gap: 15px; }
    .menu { flex-wrap: wrap; justify-content: center; }
    .productos { grid-template-columns: repeat(2, 1fr); }
    .esquina { width: 120px; }
    .footer { flex-direction: column; text-align: center; gap: 40px; padding: 40px; }
}